<div *ngIf="!isLoading">
  <div class="paginator">
    <select class="select col-sm-4" [(ngModel)]="countriesByPage" (ngModelChange)="pageChange()">
      <option value="10" selected>10</option>
      <option value="50">50</option>
      <option value="100">100</option>
    </select>
    <ngb-pagination class="col-sm-8" *ngIf="countries" [collectionSize]="allCountries.length" [maxSize]="5" [(page)]="pageNumber"
      [boundaryLinks]="true" [pageSize]="countriesByPage" (pageChange)="pageChange()" size="lg">
    </ngb-pagination>
  </div>